= render :partial => "sidebar"

.main-content{:style => "min-height: 3000px;"}
  .off-canvas-wrap
    .inner-wrap
      .grid-header
        .grid-logo.show-for-small-only
          = link_to "#" do
            = image_tag "logo.png", :class => "logo-img"
        %a.left-off-canvas-toggle.show-for-small-only <i class="fa fa-bars"></i> Filter
        %ul.user-login.inline-list
          %li= link_to "Request a Login", "#"
          %li= link_to "Login", "#"
        .shopping-cart
          = image_tag "icons/cart.svg"
        .show-for-medium-up
          = render :partial => "gridFilters"



      / Off Canvas Menu
      %aside.left-off-canvas-menu
        = render :partial => "sidebar"
      %ul.restaurant-grid.small-block-grid-1.medium-block-grid-2.large-block-grid-3
        - 12.times do
          = render :partial => "gridBlock"


      / close the off-canvas menu
      %a.exit-off-canvas

